Makefile
Makefile.in
aclocal.m4
config.*
configure
debian
libtool
stamp-h
stamp-h.in
defaults.h
ltmain.sh
panda-config
autom4te.cache
stamp-h1
INSTALL
compile
config.guess
config.sub
depcomp
install-sh
missing
*.swp
*.tar.gz
*.o
*.lo
*.la
*.deps
*.libs
libs/*.a
dblib/*.a
mkinstalldirs
java
configure-stamp
build-indep-stamp
build-arch-stamp
test
m4
Doc/*.aux
Doc/*.log
aps/aps
aps/dbstub
cobol/ENUM-VALUE
cobol/MCPMAIN.CBL
dbstuff/dblogger
dbstuff/dbmaster
dbstuff/dbredirector
dbstuff/dbs
dbstuff/dbslave
fdd/fdd
fdd/fdw
glauth/glauth
glauth/user
glclient/glclient2
glserver/glserver
libs/testblob
libs/testnet
panda.pc
tools/checkdir
tools/copygen
tools/dbgen
tools/dbsync
tools/monitor
tools/msgd
tools/pandadb
wfc/moninfo
wfc/wfc
wfc/wfccontrol
po/*.gmo
po/stamp-po
po/POTFILES
po/Makevars.template
